$color-black: #000000;
$color-white: #FFFFFF;
$color-sky-blue: #87CEEB;
$color-sky-blue-light: #B0E0F6;
$color-sky-blue-lighter: #D9F0FA;
$color-sky-blue-dark: #4682B4;
$color-sky-blue-darker: #2F5A8A;
$color-gray-dark: #333333;
$color-gray-light: #E6E6E6;
$color-sky-blue-accent: #4cb451;
$color-bg-dark: #F8F8F8;
$color-error: #F56C6C;

$color-bg-light: #F2F2F2;
$color-primary-light: #3579EA;
$color-orange: #D64A3A;
$color-deep-gray: #474747;
$color-primary-active: #0247A2;