$laptop-xl-width: 1920px;
$laptop-l-width: 1440px;
$laptop-width: 1024px;
$tablet-xl-width: 920px;
$tablet-l-width: 900px;
$tablet-width: 768px;
$mobile-xl-width: 576px;
$mobile-l-width: 480px;
$mobile-sm-width: 425px;
$mobile-width: 375px;