@use '~/assets/scss/main.scss' as *;

.button-icon {
  width: 2.5rem;
  height: 50%;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: $color-gray-light;
    height: 50%;
    border-radius: .25rem;
  }
}